*, 
*::after, 
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper h1 {
  margin-bottom: 10px;
}

#content {
  display: flex;
  flex-direction: row;
}

#game {
  border: solid 1px #000;
  height: 70vh;
  width: 35vw;
  margin-right: 10px;
  padding: 5px;
}

#game-title {
  font-weight: bold;
  font-size: 1.17em;
  text-align: center;
  border-bottom: solid 1px #000;;
}

#game-info {
  margin-top: 10px;
  text-align: center;
}

#game-content {
  height: calc(100% - 51px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-before-start {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-before-start #before-start-info {
  margin-bottom: 10px;
}

#game-before-start .player-input {
  margin-bottom: 5px;
  width: 100%;
}

#game-before-start #game-column {
  width: 100%;
}

#game-before-start #line-col {
  width: calc(100% - 138.66px);
}

#game-before-start #btn-mulai {
  margin-top: 10px;
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.cross,
.cell.circle {
  cursor: not-allowed;
}

.cell.cross::before,
.cell.cross::after {
  background-color: red;
}

.cell.circle::before {
  background-color: blue;
}

.game-after-start.cross .cell:not(.cross):not(.circle):hover::before,
.game-after-start.cross .cell:not(.cross):not(.circle):hover::after,
.game-after-start.circle .cell:not(.cross):not(.circle):hover::before {
  background-color: lightgrey;
}

.cell.cross::before,
.cell.cross::after,
.game-after-start.cross .cell:not(.cross):not(.circle):hover::before,
.game-after-start.cross .cell:not(.cross):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(calc(47px * .9) * .15);
  height: calc(47px * .9);
}

.cell.cross::before,
.game-after-start.cross .cell:not(.cross):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.cross::after,
.game-after-start.cross .cell:not(.cross):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.game-after-start.circle .cell:not(.cross):not(.circle):hover::before,
.game-after-start.circle .cell:not(.cross):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.game-after-start.circle .cell:not(.cross):not(.circle):hover::before {
  width: calc(47px * .9);
  height: calc(47px * .9);
}

.cell.circle::after,
.game-after-start.circle .cell:not(.cross):not(.circle):hover::after {
  width: calc(calc(47px * .9) * .7);
  height: calc(calc(47px * .9) * .7);
  background-color: white;
}

#history {
  margin-left: 10px;
  height: 70vh;
  width: 35vw;
  border: solid 1px #000; 
  padding: 5px;
}

#history-title {
  font-weight: bold;
  font-size: 1.17em;
  text-align: center;
  border-bottom: solid 1px #000;;
}
